.main {
  background-color: #2ecc71;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header .container {
  text-align: justify;
  font-size: 0;
}

.header .container::after {
  content: '';
  width: 100%;
  display: inline-block;
}

.header {
  padding: 35px 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo a {
  display: block;
}

.main-nav {
  display: inline-block;
  vertical-align: middle;
}

.nav-list {
  display: inline-block;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fefefe;
  letter-spacing: .04em;
  transition: all .3s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-color: #fff;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.button {
  background-color: #fff;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #2ecc71;
  padding: 0 36px;
  border-radius: 25px;
  font-size: 18px;
  letter-spacing: .04em;
  display: inline-block;
  transition: all .3s;
  margin-left: 50px;
  text-align: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, .7);
}

@media(max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media(max-width: 999px) {
  .header {
    display: block;
  }

  .main-nav {
    display: block;
    text-align: center;
  }

  .logo {
    margin-bottom: 20px;
  }
}

.inner {
  position: relative;
}

.inner::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url(img/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.inner::before {
  content: '';
  display: block;
  width: 130px;
  height: 170px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -47px;
  transform: translateX(-50%);
  background: url(img/fruit1.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.inner .container {
  font-size: 0;
}

.inner-text {
  display: inline-block;
  max-width: 57%;
  padding-top: 160px;
  padding-bottom: 180px;
  position: relative;
  z-index: 2;
}

.inner-logo {
  width: 112px;
  height: 112px;
  margin-bottom: 65px;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.inner-image {
  display: inline-block;
  max-width: 34%;
  padding-top: 45px;
  vertical-align: bottom;
  margin-left: 9%;
  position: relative;
  z-index: 2;
}

.inner-picture {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: .03em;
  color: #5a5a5a;
  margin-bottom: 30px;
}

.title-main {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: .04em;
  color: #fff;
  margin-bottom: 25px;
}

.title-bold {
  font-weight: 700;
}

.inner-paragraph {
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: .04em;
  color: #f4f4f4;
  margin-bottom: 58px;
}

.inner-links {
  font-size: 0;
}

.inner-button {
  display: inline-block;
}

.inner-button + .inner-button {
  margin-left: 30px;
}

@media(max-width: 999px) {
  .inner-image {
    display: none;
  }

  .inner-text {
    max-width: 100%;
    text-align: center;
  }
}

.counter {
  padding-top: 110px;
  padding-bottom: 40px;
}

.counter .container {
  font-size: 0;
}

.counter-image {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.counter-picture {
  margin-left: -40px;
  position: relative;
  z-index: 2;
}

.counter-text {
  display: inline-block;
  width: 48%;
  margin-left: 2%;
  vertical-align: middle;
}

.title-green {
  color: #2ecc71;
}

.title-center {
  text-align: center;
}

.paragraph {
  font-size: 18px;
  font-weight: 300;
  color: #5a5a5a;
  line-height: 1.8;
}

.plan {
  background-color: #f9f9f9;
}

.plan-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(img/bg-way.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.plan .container {
  padding-top: 115px;
}

.paragraph-thin {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 110px;
}

.plan-image {
  text-align: center;
  position: relative;
}

.plan-image img {
  position: relative;
  z-index: 2;
}

.meal {
  padding-top: 150px;
  padding-bottom: 110px;
  background-color: #fff;
}

.meal .container {
  font-size: 0;
}

.meal-text {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

.meal-list {
  display: inline-block;
  width: 45%;
  margin-left: 10%;
  vertical-align: middle;
}

@media(max-width: 1199px) {

  .meal .container {
    padding: 0 20px;
  }

  .meal-text {
    display: block;
    width: 100%;
  }
  
  .meal-list {
    display: block;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

.footer {
  background-color: #2ecc71;
  padding: 110px 0 100px 0;

}

.title-white {
  color: #fff;
}

.paragraph-white {
  color: #fff;
  margin-bottom: 60px;
}

.button-wide {
  width: 250px;
}

.footer .container {
  text-align: center;
}